---
import Layout from '../layouts/Layout.astro';
import About from '../sections/About.astro';
import Awards from '../sections/Awards.astro';
import Faq from '../sections/Faq.astro';
import Footer from '../sections/Footer.astro';
import  Hero from '../sections/Hero.astro';
import Register from '../sections/Register.astro';
---

<Layout title="CEDAR Contest" description='Concurso musical cazatalentos'>
	<main> 
    <Hero id='home' />
    <About id='about'/>
    <Awards id='awards'/>
    <Register id='registration'/>
    <Faq id='faq'/>
    <Footer />
  </main> 
</Layout>


