---
const day: number = 18
const hour: string = "05"
const minutes: number = 12
const seconds: string = "00"
---

<div class="w-full  flex flex-col lg:flex-row lg:gap-2 items-center justify-center  text-slate-900 mb-4" >
  <p class="text-slate-200 text-md ">Faltan:</p>
  <p>
    <span class=" text-slate-200 text-md">{day}</span> 
    <span class=" text-slate-200 text-md">dias y</span>
    
    
    <span class=" text-slate-200 text-md">{hour}:</span>
    <span class=" text-slate-200 text-md">{minutes}:</span>
    <span class=" text-slate-200 text-md">{seconds}</span>
  </p>
  <p class="text-slate-200 text-md ">horas para el evento</p>

  </div>