---

---

<header class="">
  <div>Logo</div>
  <button>
    <span class="">x</span>
    <span>-</span>
  </button>
  <nav>
  <ul class="">
    <li><a href="#">Inicio</a></li>
    <li><a href="#about">Acerca del concurso</a></li>
    <li><a href="#awards">Premios</a></li>
    <li><a href="#registration">Registro</a></li>
    <li><a href="#faq">Preguntas frecuentes</a></li>
  </ul>
  </nav> 
</header>

