---
interface Props {
  id: string;
}

const {id} = Astro.props;
---

<section id={id} class="max-w-screen-lg mx-auto  flex flex-col justify-center items-center h-screen" data-observe>
  <h2>Premios</h2>
</section>