---
interface Props {
  id: string;
}

const {id} = Astro.props;
---

<section id={id} class="h-screen bg-neutral-100 flex flex-col justify-center items-center bg-hero bg-cover bg-top ">
  
<h2 class="text-slate-100 text-center text-4xl font-bold">Bienvenido al Concurso de Cazatalentos Cedar-Fender</h2>
  <p class="hero__description">¡Participa y muestra tu talento musical!</p>
  <a href="#registration" >   
</section>
<style>

</style>