---
interface Props {
  id: string;
}

const {id} = Astro.props;
---

<section id={id}>
<h2 class="hero__title">Bienvenido al Concurso de Cazatalentos Cedar-Fender</h2>
  <p class="hero__description">¡Participa y muestra tu talento musical!</p>
  <a href="#registration" class="hero__button hero__button--primary">   
</section>
<style>

</style>