---
import Header from '../components/Header.tsx'

interface Props {
	title: string;
  description: string
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/guitar.svg" />
		
		<title>{title}</title>
	</head>
	<body >
    <Header client:load/>
		<slot />
	</body>
</html>
<style is:global>

	html {
		font-family: system-ui, sans-serif;
		background: #f1f5f9;
    scroll-behavior: smooth;
	}
	
</style>
